#advancedFormContainer {
    margin: 0 15px;

    .ac-col6 {
        width: 15.65%;
        float: left;
    }

    .ac-w20 {
        width: 19%;
        float: left;
    }

    .ac-w25 {
        width: 24%;
        float: left;
    }

    .ac-w33 {
        width: 31% !important;
        float: left;
    }

    .ac-w50 {
        width: 49%;
        float: left;
    }

    h3 {
        margin-bottom: 5px;
        float: left;
        width: 100%;
        
        &:before {
            font-size: 18px;
            vertical-align: top;
            margin-right: 10px;
            color: #8A2BE2;
        }
    }

    .tl_select {
        max-width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .value {
        &.icon-mobile.landscape.select:before {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }
        
        &.select {
            margin-right: 1%;
            background-color: #eee;
            padding: 2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin-bottom: 5px;
            box-sizing: border-box;

            &:before {
                font-size: 18px;
                width: 12%;
                height: 30px;
                vertical-align: middle;
                line-height: 30px;
            }

            &.no-icon select {
                width: 100%;
            }

            select {
                width: 83%;
                height: 25px;

                option {
                    padding: 4px 0;
                }
            }
        }

        label {
            padding: 5px;
            display: block;
            font-size: 12px;
            font-weight: 700;
        }
    }
}

@media (max-width: 767px) {
    #advancedFormContainer .value.select {
        width: 49%;
        margin-right: 1%;
    }
}

@media (max-width: 479px) {
    #advancedFormContainer .value.select {
        width: 100%;
        margin-right: 0;
    }
}

html[data-color-scheme=dark] {
    #advancedFormContainer {
        h3:before {
            color: #fff;
        }

        select:focus-visible {
            outline: 0;
        }

        .value.select {
            background: var(--content-bg);
        }
    }
}